{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <h1>About the Authors
        <br>
            <a href="miranda"
               class="btn btn-lg btn-danger">
              Miranda
            </a>

            <a href="sonia"
                class="btn btn-lg btn-danger">
              Sonia
            </a>

            <a href="charisma"
                class="btn btn-lg btn-danger">
              Charisma
            </a>
      </h1>
    </div>

{% endblock %}
