{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Charisma's bio</h1>
	</div>
	<p> I am the oldest of three </p>
	<p> My favorite color is blue </p>
	<img src = "https://i.etsystatic.com/9154481/r/il/34ed66/1651276983/il_570xN.1651276983_5xsr.jpg" width="400"> </img>

	<h2> Charismas's Information </h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Graduation Year</th>
				<th>Favorite Food</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Charisma</td>
				<td>Chauhan</td>
				<td>20</td>
				<td>2022</td>
				<td>noodles</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
