{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Miranda's bio</h1>
	</div>
	<p> I was born in Newton, Massachusettes and am a senior at Brandeis Univeristy.</p>
	<p>I love to cook and am an avid card game player</p>
	<img src = "https://imgur.com/a/ri3F4Lg" width="400"> </img>

	<h2> Miranda's Information </h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Graduation Year</th>
				<th>Favorite Food</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Miranda</td>
				<td>Lassar</td>
				<td>22</td>
				<td>2020</td>
				<td>Watermelon</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
