{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Sonia's bio</h1>
	</div>
	<p style="font-size:20px"> Hi my name is Sonia. I am a biochemistry major at Brandeis, and am excited for you to enjoy this interactive storybook that my co-authors and I created.
  <br>
  <p style="font-size:20px"> A little bit about myself: I have two brothers, and my favorite season is spring, and I really love puns :)</p>
  <br>
	<img src = "https://s7d5.turboimg.net/t1/52398158_703eafc1da8fbaa95d881420b45a556e.jpg" width="300"> </img>

{% endblock %}
