{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Sonia's bio</h1>
	</div>
	<p> Hi my name is Sonia. I am a biochemistry major at Brandeis, and am excited for you to enjoy this interactive storybook that my co-authors and I created.
  <br>
  <p> A little bit about myself: I have two brothers, and my favorite season is spring, and I really love puns :)</p>
  <br>
	<img src = "https://i.imgur.com/IMQTZpR.jpg" width="300"> </img>

	<h2> Sonia's Information </h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Graduation Year</th>
				<th>Favorite Food</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sonia</td>
				<td>Presti</td>
				<td>21</td>
				<td>2021</td>
				<td>Ice cream</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
