#story2



{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Story Number 2</h1>
  </div>
  <p style="font-size:20px">Here is your story</p>
  <br>
  <img id ="story2_image" src = {{picUrl}} width=600 height=400 </img>
  <br>
  <br>
  <caption>  {{ storytext }} </caption>
  <br>
  <form method="post" action="/story2">
      {{question}} <br>
      <input type="text" choice="choice"> <br>
      <input type="submit">
    </form>

{% endblock %}
