{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <h1>Storybook: Choose your story
        <br>
            <a href="/story1"
               class="btn btn-lg btn-danger">
              Introduction - ASCII Art
            </a>
        <br>
            <a href="/story2"
                class="btn btn-lg btn-danger">
              Flipper's Big Day
            </a>
        <br>
            <a href="/story3"
                class="btn btn-lg btn-danger">
              Feed the Animals
            </a>
      </h1>
    </div>

{% endblock %}
