#story3 zookeeper


{% extends "fancylayout.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Zookeeper</h1>
</div>

<p style="font-size:20px">You are a zookeeper and it is time for you to care for your animals. Click the next button to follow along through the story, or if you want to jump to a specific animal click the picture of the animal at the bottom of the page</p>
<audio controls>
  <source src=/static/zookeeper.mp3 type="audio/mp3">
  <p>Your browser doesn't support HTML5 audio.</p>
</audio>
<br>

<img src="https://s7d5.turboimg.net/t1/52481578_zookeeper.jpg" width="260" height="280">
<img src="https://www.publicdomainpictures.net/pictures/200000/t2/plain-white-background-1480544970glP.jpg" width="200" height="200">

<br>
<a href="/panda"
    class="btn btn-lg btn-danger">
  Next
</a>
<br>
<br>
<br>
<a href="/panda" ><img src="https://s7d5.turboimg.net/t1/52426031_panda.jpg" alt="panda" width=120 height=100 style="vertical-align:top" border="20"/></a>
<a href="/tiger" ><img src="https://i.pinimg.com/originals/24/01/e3/2401e38f74baedab604de7e196515ff1.png" alt="panda" width=100 height=100 style="vertical-align:top" border="20"/></a>
<a href="/elephant" ><img src="https://s7d5.turboimg.net/t1/52617306_elephant_only.jpg" alt="elephant" width=90 height=100 style="vertical-align:bottom" border="20"/></a>
<img src="https://www.publicdomainpictures.net/pictures/200000/t2/plain-white-background-1480544970glP.jpg" width="8" height="100" style="vertical-align:bottom">
<a href="/seal" ><img src="https://s7d2.turboimg.net/t1/52481633_seal.jpg" alt="seal" width=77 height=100 style="vertical-align:bottom" border="20"/></a>
<a href="/lion" ><img src="https://i.ya-webdesign.com/images/safari-animals-png-7.png" alt="lion" width=100 height=100 style="vertical-align:bottom" border="20"/></a>
<a href="/birds" ><img src="https://s7d8.turboimg.net/t1/52629692_bird.jpg" alt="birds" width=100 height=100 style="vertical-align:bottom" border="20"/></a>

{% endblock %}
